
// css number 3
body {
  font-family: Arial; 
  background:#1e1e2f; 
  color:white; 
  margin:0; 
  padding:0;
}
.container {
  max-width:900px; 
  margin:auto; 
  padding:20px;
}
h2, h3 {
  text-align:center; 
  color:purple;
}
input, select, button, textarea {
  padding:8px; 
 margin:5px 0; 
  width:100%; 
  box-sizing:border-box; 
  border-radius:5px;
}
button {
  cursor:pointer; 
 background: purple; 
  color:white; 
  border:none; 
  font-weight:bold;
}
button:hover {
  background: black;
}
<!--New commit 4-->
.dashboard {
      display:flex;
      justify-content:space-between;
     }
.menu {
     width:25%;
     background:#2a2a40;
     padding:10px;
     border-radius:8px;
    }
.menu ul {
     list-style:none;
     padding:0;
   }
.menu ui {
     padding:8px;
     background:#3b3b60;
     margin-bottom:5px;
     border-radius:4px;
     cursor:pointer;
    }
.menu ui:hover{
    background:purple;
   }
